.technology button{
    border:none;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: rgb(12, 43, 43);
    color: white;
    border-radius: 8px;
    padding: 5px;
}
.resume-card{
    background-color: rgb(16, 22, 20);
    margin-top:30px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 12px;
    color: rgb(207, 203, 196);
}
.resume h2{
    font-weight: bold;
}