.button-project{
    border:none;
    background-color: rgba(22, 18, 18, 0.445);
    margin-right: 8px;
    border:.5px solid white;
    color: white;
    padding:5px 12px;
    border-radius: 5px;
}
.button-project:hover{
    background-color: rgb(49, 3, 3);
}
.single-project h4{
    padding-top:6px;
    padding-bottom: 10px;
}
.single-project{
    border: 1px solid black;
    margin-bottom: 10px;
    padding:20px 0;
    background-image: linear-gradient(rgb(9, 8, 22), rgb(6, 13, 46));
    color: white;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.project-img img{
    border-radius: 8px;
    padding-bottom: 10px;
}